@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.ttf') format('truetype'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans-Regular.ttf') format('truetype'),
		url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

:root {
	--container-width-mobile: calc(350px + (700 - 360) * ((100vw - 360px) / (768 - 360)));
	--shop-image-width: calc(100% - 40px);
	--container-width-tablet: calc(720px + (1190 - 720) * ((100vw - 768px) / (1660 - 768)));
	--trend-item-2-2-grid-width: calc((100% - 2px) / 2);
	--trend-item-1-4-grid-width: calc((100% - 2px * 3) / 4);
	--header-title-font-size-mobile: calc(26px + (40 - 26) * ((100vw - 360px) / (768 - 360)));
	--header-title-font-size-tablet: calc(40px + (45 - 40) * ((100vw - 768px) / (1660 - 768)));
	--container-main-col-gap: calc(34px + (133 - 34) * ((100vw - 768px) / (1660 - 768)));
	--posts-width-tablet: calc((100% - var(--container-main-col-gap)) / 5 * 3);
	--side-bar-width-tablet: calc((100% - var(--container-main-col-gap)) / 5 * 2);
	--posts-width-desktop: calc((100% - var(--container-main-col-gap)) / 4 * 3);
	--side-bar-width-desktop: calc((100% - var(--container-main-col-gap)) / 4);

	--posts-image-container-height-mobile: calc(254.658px + (434.307 - 254.658) * ((100vw - 360px) / (640 - 360)));
	--posts-image-container-height: calc(308.4px + (492.9 - 308.4) * ((100vw - 768px) / (1660 - 768)));
	--posts-image-container-height-desktop: calc(291.7px + (400 - 291.7) * ((100vw - 1660px) / (2560 - 1660)));
	--popup-width-mobile: calc(331px + (393 - 331) * ((100vw - 360px) / (768 - 360)));
	--shop-item-width-desktop: calc((100% - 68px * 2) / 3);
	--popup-height-mobile: calc(7416px + (7430 - 7416) * ((100vw - 360px) / (639 - 360)));
	--popup-height-tablet: calc(5540px + (5870 - 5540) * ((100vw - 639px) / (1199 - 639)));
	--popup-height-desktop: calc(3384px + (3463 - 3384) * ((100vw - 1200px) / (1600 - 1200)));
	--shop-item-width-tablet: calc((100% - 26px) / 2);
	--post-image-container-width-desktop: calc((100% - 33px) / 2);
}


body {
	font-family: OpenSans, sans-serif;
	margin: 0;
	box-sizing: border-box;

}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: transparent;
	outline: none;
	border: none;
}

.hidden {
	display: none;
}


/*----------------POPUP----------------*/
.popup {
/* 	добавить класс .open */
	visibility:hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	min-height: var(--popup-height-mobile);
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.3s ease-in;
}

.popup-container {
	position: fixed;
	top: 57px;
	box-sizing: border-box;
	width: var(--popup-width-mobile);
	z-index: 10;
	background-color: #fff;
	padding: 24px 25px 27px 25px;
}

.close {
	position: absolute;
	right: -20px;
	top: -20px;
	cursor: pointer;
}

.popup-form>span {
	font-size: 13px;
}

.popup-title {
	position: relative;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 39px;
	text-align: center;
}

.popup-title::before {
	position: absolute;
	content: '';
	width: 67px;
	height: 3px;
	background-color: #E1D9BD;
	top: 31px;
	left: 38%;
}

.select-box {

	display: flex;
	flex-direction: column;
	margin-bottom: 26px;
}


.select-label-text {
	display: block;
	font-size: 13px;
	margin-bottom: 7px;
}

.select-field {
	box-sizing: border-box;
	position: relative;
	font-size: 13px;
	background-color: #F4F7F6;
	color: #9B9C9C;
	padding: 21px 20px;
	border: none;
	min-width: 282px;
	height: 48px;
	transition: 0.2s ease-in;
	background-image: url('../svg/form-arrows.svg');
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: 330px center;
}

.arrows {
	width: 80px;
	height: 170px;
	right: 5px;
	z-index: 20;
	position: absolute;
	object-fit: contain;
}



.select-field:focus {
	outline: none;
	border: 1px solid #B59F5B;
	transition: 0.2s ease-in;

}

.radio-box {
	display: flex;
	margin: 13px 31px 30px;
	gap: 68px;
}

.checkbox-label {
	display: block;
	font-size: 13px;

}

.checkbox-label_yes {
	position: relative;
}

.checkbox-label_yes::after {
	position: absolute;
	content: '';
	width: 13px;
	height: 13px;
	background-color: #EEEEEE;
	outline: 2px solid #B59F5B;
	border: 4px solid #EEEEEE;
	border-radius: 100%;
	right: 23px;
	top: -1px;
	background-position: center center;
	z-index: 11;
	transition: 0.5s ease-in;
}

.radio_yes:checked~.checkbox-label_yes::after {
	background-color: #B59F5B;
	transition: 0.5s ease-in;
}

.checkbox-label_no {
	position: relative;
}

.checkbox-label_no::after {
	position: absolute;
	content: '';
	width: 13px;
	height: 13px;
	background-color: #EEEEEE;
	outline: 2px solid #B59F5B;
	border: 4px solid #EEEEEE;
	border-radius: 100%;
	right: 32px;
	top: -1px;
	background-position: center center;
	z-index: 11;
	transition: 0.5s ease-in;
}

.radio_no:checked~.checkbox-label_no::after {
	background-color: #B59F5B;
	transition: 0.5s ease-in;
}

.radio {

	display: none;
}


.text-box {
	margin-bottom: 26px;
}

.text-label>span {
	font-size: 13px;

}

.field {
	box-sizing: border-box;
	margin-top: 13px;
	display: block;
	width: 282px;
	height: 130px;
	overflow-y: scroll;
	padding-left: 21px;
	resize: none;
	border: none;
	background-color: #F4F7F6;
}

.field:focus {
	outline: none;
	border: 2px solid #B59F5B;
	transition: 0.2s ease-in;
}

.button-submit {
	min-width: 282px;
	min-height: 47px;
	padding: 0;
	border: none;
	background-color: #B59F5B;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	transition: 0.2s ease-in;
}

.button-submit:hover {
	background-color: #323232;
	transition: 0.2s ease-in;
}

/*----------------HEADER----------------*/

.header {
	z-index: 0;
	position: relative;
	background-image: url('../images/banner-mobile.jpg');
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30px;
}

.header::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -2;

}

.container {
	width: var(--container-width-mobile);
	padding: 0px 10px 30px;
	margin: 0 auto;
	box-sizing: border-box;
}


.header-wrapper {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	gap: 163px;
}

.logo {
	width: 82%;
	align-self: center;
}

.logo-link {
	width: 100%;
}

.logo-img {
	width: 100%;
}

.burger-img {
	width: 32px;
}

.burger-button {
	background-image: url('../svg/burger-menu-svgrepo-com.svg');
	background-position: center center;
	width: 32px;
	height: 32px;
}

.menu {
	display: none;
}

.header-title {
	margin: 31px 0px 182px;
}

.header-title__headline {
	letter-spacing: -0.7px;
	line-height: 1.36;
	font-size: var(--header-title-font-size-mobile);
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	min-width: 285px;
}


/*------------MAIN------------*/
/*----------------TRENDS----------------*/

.trends {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}

.trends-title {
	letter-spacing: -0.4px;
	display: block;
	position: relative;
	font-size: clamp(16px, 2.4vw, 26px);
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 0;
}

.trends-title__link {
	position: relative;
}

.trends-title__link::before {
	position: absolute;
	content: '';
	width: 67px;
	height: 3px;
	background-color: #E1D9BD;
	top: 25px;
	left: 42px;
}

.trends-list {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-top: 35px;
	margin-bottom: 0;
}

.trends-list__item {
	position: relative;
	width: 100vw;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.trends-list__item::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;

}

.trends-nested-list {
	display: block;
	position: relative;
	z-index: 2;
	border: 2px solid #B59F5B;
	margin: 90px 15px 20px 15px;
	text-align: left;
	padding: 21px 20px 30px;
	overflow: hidden;
}

.trends-nested-list_2 {
	margin: 64px 20px 12px 10px;
	padding: 20px 20px 30px;
}


.trends-list__item-category {
	letter-spacing: -0.7px;
	position: relative;
	display: inline-block;
	font-size: clamp(12px, 2.4vw, 14px);
	font-weight: bold;
	line-height: 2.64;
	text-transform: uppercase;
	color: #B59F5B;
	word-spacing: 18px;
	z-index: 2;
	margin: 0;
	text-align: left;
}

.trends-list__item-category::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #B59F5B;
	top: 40px;
	left: 0;
	opacity: 0;
	transition: 0.2s ease-in;
}

.trends-list__item-category:hover::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #B59F5B;
	transform: translateY(-15px);
	opacity: 1;
	transition: 0.2s ease-in;
}

.trends-list__item-title {
	text-align: left;
	font-size: clamp(14px, 4.45vw, 17px);
	line-height: 1.25;
	color: #fff;
	text-transform: uppercase;
	transition: 0.2s ease-in;
	margin: 0;
	letter-spacing: -0.5px;
	overflow: hidden;
}


.trends-list__item-title:hover {
	color: #B59F5B;
	transition: 0.2s ease-in;
}


.trends-list__item-title_1 {
	padding-right: 73px;
}

.trends-list__item-title_2 {
	padding-right: 0;
	letter-spacing: -0.1px;
}

.trends-list__item-title_3 {
	padding-right: 20px;
	letter-spacing: -0.2px;
}

.trends-list__item-title_4 {
	letter-spacing: -0.3px;
}

.trends-list__item_1 {
	background-image: url('../images/trend1.jpg');
}

.trends-list__item_2 {
	background-image: url('../images/trend2.jpg');
}

.trends-list__item_3 {
	background-image: url('../images/trend3.jpg');
}

.trends-list__item_4 {
	background-image: url('../images/trend4.jpg');
}

/*----------------POSTS----------------*/
.container_main {
	padding-bottom: 0;
}

.post-container {
	margin-bottom: 26px;
	margin-top: 35px;
	border-bottom: 2px solid #EEEEEE;
}

.post-container:first-child {
	margin-top: 45px;
}


.post-image-container {
	min-height: var(--posts-image-container-height-mobile);
	margin-bottom: 5px;

}

.post-image {
	width: 100%;

}

.post-list {
	margin: 0;
}

.post-category {
	position: relative;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	color: #B59F5B;
	word-spacing: 20px;
	transition: 0.2s ease-in;
	margin: 0 0 7px;
	font-weight: bold;
}

.post-category::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #B59F5B;
	top: 40px;
	left: 0;
	opacity: 0;
	transition: 0.2s ease-in;
}

.post-category:hover::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #B59F5B;
	transform: translateY(-20px);
	opacity: 1;
	transition: 0.2s ease-in;
}

.post-title {
	font-size: 16px;
	line-height: 1.25;
	text-transform: uppercase;
	transition: 0.2s ease-in;
	margin: 0 0 12px;
}

.post-title:hover {
	color: #B59F5B;
	transition: 0.2s ease-in;
}

.post-date-author {
	margin: 0 0 14px;
}

.date {
	font-size: 12px;
	color: #BDBDBD;
	margin-right: 11px;
	overflow: hidden;
}

.author {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
	overflow: hidden;
}

.post-description {
	line-height: 1.4;
	margin-top: 0;
	letter-spacing: 0.2px;
	margin-bottom: 27px;
	font-size: 14px;
	overflow: hidden;
	max-height: 75px;
}

/*---------SIDE-BAR---------*/
/*----------------NEW-POSTS----------------*/

.side-bar {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 41px;

}

.side-bar__title {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0 0 38px;
	white-space: nowrap;
	letter-spacing: -0.5px;
}

.side-bar__title::before {
	position: absolute;
	top: 27px;
	left: 29px;
	content: '';
	width: 54%;
	height: 3px;
	background-color: #E1D9BD;
}

.newposts {
	margin-top: 12px;
	text-align: center;
}

.newposts-list {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin: 0;
}


.newposts__wrapper {
	display: flex;
}

.newposts__description {
	margin-left: 20px;
}

.newposts__picture {
	min-width: 70px;
	min-height: 70px;
}


.newposts__date {
	display: block;
	margin: 0;
}

.newposts__title {
	text-transform: uppercase;
	display: block;
	margin: 0;
}

/*----------------SEARCH----------------*/

.search-form {
	margin-top: 58px;
	display: flex;
}

.search-field {
	padding-left: 17px;
	border-radius: 0;
	min-height: 47px;
	width: calc(100% - 47px);
	background-color: #F4F7F6;
	border: none;
	transition: 0.2s ease-in;

}

.search-field:focus {
	outline: none;
	border: 1px solid #B59F5B;
	transition: 0.2s ease-in;
}

.search-button {
	min-width: 47px;
	min-height: 47px;
	padding: 0;
	border: none;
	background-color: #B59F5B;
	background-image: url('../svg/loup.svg');
	background-repeat: no-repeat;
	background-position: center center;
	transition: 0.2s ease-in;
}

.search-button:hover {
	background-color: #323232;
	transition: 0.2s ease-in;
}

/*----------------SUBSCRIBE----------------*/
.subscribe{
	text-align: center;
}
.subscribe__title {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0 0 13px;
	white-space: nowrap;
	text-align: center;
}

.subscribe__title::before {
	position: absolute;
	top: 25px;
	left: 10px;
	content: '';
	width: 80%;
	height: 3px;
	background-color: #E1D9BD;
}

.subscribe__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.subscribe__field {
	padding-left: 17px;
	border-radius: 0;
	min-height: 47px;
	width: 100%;
	background-color: #F4F7F6;
	border: none;
	transition: 0.2s ease-in;
	box-sizing: border-box;
}

.subscribe__field:focus {
	outline: none;
	border: 1px solid #B59F5B;
	transition: 0.2s ease-in;
}

.subscribe__button {
	min-width: 100%;
	min-height: 47px;
	padding: 0;
	border: none;
	background-color: #B59F5B;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	transition: 0.2s ease-in;
}

.subscribe__button:hover {
	background-color: #323232;
	transition: 0.2s ease-in;
}

/*----------------TAGS----------------*/
.tags{
	text-align: center;
}
.tags__title {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0 0 0px;
	white-space: nowrap;
}

.tags__title::before {
	position: absolute;
	top: 27px;
	left: -11px;
	content: '';
	width: 160%;
	height: 3px;
	background-color: #E1D9BD;
}

.tags-list {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	margin: 36px 0 0;
}

.tag {
	line-height: 0.85;
	text-transform: uppercase;
	padding: 8px 13px;
	font-weight: bold;
	font-size: 12px;
	display: block;
	border: 3px solid #EEEEEE;
	transition: 0.2s ease-in;
}

.tag:hover {
	cursor: pointer;
	border: 3px solid #B59F5B;
	transition: 0.2s ease-in;
}

/*----------------CATEGORIES----------------*/
.categories {
	margin-top: -4px;
	text-align: center;
}

.categories__title {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0 0 38px;
	white-space: nowrap;
	text-align: center;
}

.categories__title::before {
	position: absolute;
	top: 28px;
	left: -8px;
	content: '';
	width: 130%;
	height: 3px;
	background-color: #E1D9BD;
}


.categories-list {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 17px;
	margin: 0;
}

.categories-list__item {
	position: relative;
	padding-bottom: 6px;
	border-bottom: 2px solid #EEEEEE;
}

/* .categories-list__item::before {
	position: absolute;
	top: 30px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #Eee;
} */


.categoory {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold;
	transition: 0.2s ease-in;
}

.categoory:hover {
	color: #B59F5B;
	transition: 0.2s ease-in;
}

.index {
	vertical-align: text-top;
	font-size: 12px;
	color: #B59F5B;
	font-weight: bold;
}

/*----------------SHOP----------------*/
.shop {
	margin-top: 47px;
	text-align: center;
}

.shop-title {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0 0 39px;
	white-space: nowrap;
	text-align: center;
}

.shop-title::before {
	position: absolute;
	top: 33px;
	left: 36px;
	content: '';
	width: 49%;
	height: 3px;
	background-color: #E1D9BD;
}


.shop-container {
	display: flex;
	flex-direction: column;
}

.shop-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shop-item__picture {
	text-align: center;
}


.shop-picture__image {
	width: var(--shop-image-width);
}

.shop-item__text {
	position: relative;
	top: -39px;
	text-align: left;
	z-index: 2;
	border: 3px solid #D3C59D;
	padding: 13px 15px 24px;
}

.shop-item__title {
	font-size: 17px;
	text-transform: uppercase;
	quotes: "«" "»" "‹" "›";
	margin: 37px 0 0;
}

.shop-item__description {
	margin: 5px 0;
	font-size: 15px;
	quotes: "«" "»" "‹" "›";
	line-height: 1.3;
	letter-spacing: 0.5px;
	margin-right: 20px;
}

.shop-description__link {

	color: #BBA76B;
	transition: 0.2s ease-in;
}

.shop-description__link:hover {
	transition: 0.2s ease-in;
	text-decoration: underline;
}

.price-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price-link__price {
	font-weight: bold;
	font-size: 20px;
}

.price-link__price>span {
	font-size: 14px;
	vertical-align: top;
	text-decoration: line-through;
	display: block;
}

.price-link__button {
	background-color: #B59F5B;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 16px 34px;
	transition: 0.2s ease-in;
}

.price-link__button:hover {
	background-color: #323232;
	transition: 0.2s ease-in;
}

/*------------FOOTER------------*/
/*----------------MEDIA----------------*/
.media-list {
	display: flex;
	justify-content: center;
	gap: 26px;
	margin: 7px 10px 41px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F4F7F6;
}

.media-list__item_1 {
	background-image: url('../svg/001-dribbble.svg');
	width: 20px;
	height: 20px;
}

.media-list__item_2 {
	background-image: url('../svg/001-pinterest.svg');
	width: 20px;
	height: 20px;
}

.media-list__item_3 {
	background-image: url('../svg/003-tumblr.svg');
	width: 20px;
	height: 20px;
}

/*----------------COPYRIGHT----------------*/
.copiright-text {
	text-align: center;
}

.copiright-link {
	font-size: 12px;
	color: #999999;
	margin: 50px 0;
}

/*----------------MEDIA-LANDSCAPE----------------*/

@media (orientation: landscape) {



	.trends-list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.trends-list__item {
		width: var(--trend-item-2-2-grid-width);

	}


	.trends-nested-list {
		margin: 31px 15px 12px 15px;
		padding: 7px 20px 14px;
	}

	.trends-list__item-title {
		font-size: clamp(12px, 2.6vw, 14px);
	}

	.trends-nested-list_2 {
		margin: 11px 15px 12px 15px;
		padding: 8px 20px 16px;
	}


	.trends-list__item-title_1 {
		padding-right: 20px;
	}


}

/* --------------------------MEDIA-TABLET-------------------------- */

@media (min-width: 640px) {
	.popup {
		min-height: var(--popup-height-tablet);

	}

	.popup-container {
		width: 393px;
		margin-top: 206px;
		padding: 30px 28px 27px 32px
	}

	.close {
		right: 0px;
		top: -37px;
	}

	.select-field {

		width: 331px;
	}

	.popup-form>span {
		font-size: 13px;
	}

	.popup-title {
		font-size: 18px;
		margin-bottom: 39px;
	}

	.popup-title::before {
		top: 34px;
		left: 40%;
	}

	.header {
		background-image: url('../images/banner-bg-tablet.jpg');
		background-position: 0 0;
	}


	.container {
		width: var(--container-width-tablet);
		padding: 0px 10px 42px;
	}


	.header-wrapper {
		flex-direction: row;
		justify-content: space-between;
	}

	.logo {
		width: 160px;
	}


	.burger-img {
		width: 20px;
	}

	.header-title {
		margin: 86px 55px 72px 40px;
	}

	.header-title__headline {
		font-size: var(--header-title-font-size-tablet);
	}


	/*------------MAIN------------*/
	/*----------------TRENDS----------------*/

	.trends-title {
		font-size: clamp(16px, 2.4vw, 26px);
		margin-top: 44px;
	}

	.trends-title__link::before {
		top: 34px;
		left: 46px;
	}

	.trends-list {
		margin-top: 31px;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.trends-list__item {
		width: var(--trend-item-2-2-grid-width);
	}


	.trends-nested-list {
		margin: 96px 20px 17px 20px;
		padding: 20px 31px 30px;
	}

	.trends-nested-list_2 {
		margin: 74px 17px 12px 21px;
		padding: 22px 37px 30px;
	}


	.trends-list__item-category {
		font-size: 14px;
	}


	.trends-list__item-title {
		font-size: clamp(17px, 2vw, 20px);
	}


	/*----------------POSTS----------------*/
	.container_main {
		margin-top: 6px;
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--container-main-col-gap);
		padding-bottom: 0;
	}

	.posts {
		width: var(--posts-width-tablet);
	}

	.post-container {
		margin-bottom: 42px;
		margin-top: 40px;
		border-bottom: 2px solid #EEEEEE;
	}

	.post-container:first-child {
		margin-top: 45px;
	}
	.post-container:last-child {
		border-bottom: none;
		margin-bottom: 7px;
	}


	.post-image-container {
		min-height: var(--posts-image-container-height);
		margin-bottom: 0;
	}

	
	.post-list {
		padding-bottom: 27px;
	}


	.post-category {
		margin: 0 0 9px;

	}


	.post-title {
		font-size: 17px;
		line-height: 1.25;
		text-transform: uppercase;
		transition: 0.2s ease-in;
		margin: 0 16px 28px 0;
	}

	.post-title:hover {
		color: #B59F5B;
		transition: 0.2s ease-in;
	}

	.post-date-author {
		margin: 0 0 25px;
	}

	.date {
		font-size: 12px;
		color: #BDBDBD;
		margin-right: 11px;
		overflow: hidden;
	}

	.author {
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 0.5px;
		overflow: hidden;
	}

	.post-description {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 15px;
	}

	/*---------SIDE-BAR---------*/
	/*----------------NEW-POSTS----------------*/

	.side-bar {
		width: var(--side-bar-width-tablet);
		gap: 54px;
	}

	.side-bar__title {
		font-size: 14px;
		margin: 0 0 39px;
	}

	.side-bar__title::before {
    top: 29px;
    width: 64%;
	left: 16px;
	}

	.newposts {
		margin-top: 38px;

	}



	/*----------------SUBSCRIBE----------------*/
	.subscribe__title {
    font-size: 15px;
    margin: 0 0 18px;
	}

	.subscribe__title::before {
		top: 31px;
		left: 9px;
	}


	/*----------------TAGS----------------*/

	.tags__title {
		font-size: 15px;
		margin: 0 0 0px;
	}

	.tags-list {
		margin: 36px 0 0;
	}

	/*----------------CATEGORIES----------------*/
	.categories__title {
		
		font-size: 15px;
		margin: 0 0 35px;
	
	}



	.categories-list {
		gap: 18px;
		margin: 0;
	}


	/*----------------SHOP----------------*/
	.shop {
		margin-top: 44px;
	}

	.shop-title {
		font-size: 18px;
		margin: 0 0 38px;
		
	}

	.shop-title::before {
    top: 31px;
    left: 43px;
    width: 45%;
	}


	.shop-container {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		column-gap: 26px;
	}

	.shop-item {
		width: var(--shop-item-width-tablet);
	}
	.shop-item_last{
		margin-top: -10px;
	}

	.shop-picture__image {
		width: var(--shop-image-width);
	}

	.shop-item__text {
		top: -37px;
	}
	.shop-item__text_1{
		padding: 13px 12px 64px 18px;
	}
	.shop-item__text_2{
		padding: 13px 14px 28px 17px;
	}
	.shop-item__text_3{
		padding: 13px 12px 27px 18px;
	}

	

	.shop-item__description {
		margin: 5px 0;
		font-size: 15px;
		quotes: "«" "»" "‹" "›";
		line-height: 1.3;
		letter-spacing: 0.5px;
		margin-right: 20px;
	}

	.shop-description__link {

		color: #BBA76B;
		transition: 0.2s ease-in;
	}

	.price-link {
		align-items: flex-end;
		margin-top: 26px;
	}

	.price-link__price {
		font-size: 21px;
	}

	.price-link__price>span {
		font-size: 15px;
	}

	.price-link__button {
		padding: 15px 24px;
	}

	/*------------FOOTER------------*/
	/*----------------MEDIA----------------*/
	.media-list {
		margin: 12px 10px 41px;
	}


}

/* ------------------------------MEDIA 1200PX-------------------------------*/


@media (min-width: 1200px) {
	.popup {
		min-height: var(--popup-height-desktop);

	}

	.popup-container {
		margin-top: 228px;
		padding: 30px 35px 40px 35px;
	}

	.close {
		right: -5px;
		top: -26px;
	}

	.close-svg {
		width: 20px;
	}


	.popup-title {
		font-size: 20px;
		margin-bottom: 34px;
		margin-left: 16px;
	}

	.radio-box {
		margin: 8px 23px 30px;
		gap: 37px;
	}

	.popup-title::before {
		top: 34px;
		left: 40%;
	}

	.checkbox-label_yes::after {
		width: 7px;
		height: 7px;
		right: 22px;
		top: 1px;
	}

	.checkbox-label_no::after {
		width: 7px;
		height: 7px;
		right: 27px;
		top: 2px;
	}

	.select-box {
		margin-bottom: 28px;
	}


	.field {
		min-width: 331px;
	}

	.button-submit {
		min-width: 331px;
	}

	.header {
		background-image: url('../images/banner-bg.jpg');
	}

	.logo {
		width: 172px;
	}


	.burger {
		display: none;
	}

	.menu {
		display: flex;
	}

	.menu-list {
		display: flex;
		width: 460px;
		justify-content: space-between;
	}

	.menu-list__link {
		position: relative;
		font-size: 13px;
		color: #fff;
		text-transform: uppercase;
	}

	.menu-list__link::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		background-color: #F5FFF5;
		top: 40px;
		left: 0;
		opacity: 0;
		transition: 0.2s ease-in;
	}

	.menu-list__link:hover::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		transform: translateY(-20px);
		opacity: 1;
		transition: 0.2s ease-in;
	}


	.header-title {
		margin: 99px 230px 92px;
	}

	.header-title__headline {
		line-height: 1.56;
	}


	/*------------MAIN------------*/
	/*----------------TRENDS----------------*/



	.trends-title {
		font-size: clamp(21px, 1.21vw, 24px);
		margin-top: 54px;
	}


	.trends-title__link::before {
		top: 36px;
		left: 57px;
	}

	.trends-list {
		margin-top: 40px;
	}

	.trends-list__item {
		width: var(--trend-item-1-4-grid-width);
	}


	.trends-nested-list {
		margin: 156px 24px 17px 20px;
		padding: 20px 14px 35px 34px;
	}

	.trends-nested-list_2 {
		margin: 132px 26px 17px 17px;
  		padding: 25px 20px 28px 34px;
	}


	.trends-list__item-category {
		font-size: 14px;
	}

	.trends-list__item-title {
		font-size: clamp(20px, 1.15vw, 23px);
	}



	/*----------------POSTS----------------*/
	.container_main {
		margin-top: 11px;
	}

	.posts {
		width: var(--posts-width-desktop);
	}

	.posts-wrapper {
		display: flex;
		flex-direction: column;
		gap: 89px;
	}

	.post-container {
		display: flex;
		margin-bottom: 0;
		margin-top: 0;
		border: none;
		column-gap: 33px;
	}


	.post-image-container {
		min-height: var(--posts-image-container-height-desktop);
		width: var(--post-image-container-width-desktop);
	}
		

	.post-list {
		width: var(--post-image-container-width-desktop);
		margin: 0;
		padding-bottom: 0;
	}

	.post-category {
		font-size: 14px;
		margin: 0 0 7px;
	}


	.post-title {
		font-size: clamp(20px, 1.15vw, 23px);
		margin: 0 0 21px;
	}


	.post-date-author {
		margin: 0 0 47px;
	}


	.post-description {
		margin-bottom: 0;
		font-size: clamp(15px, 0.78vw , 17px);
	}

	/*---------SIDE-BAR---------*/
	/*----------------NEW-POSTS----------------*/

	.side-bar {
		width: var(--side-bar-width-desktop);
		gap: 56px;
	}

	.side-bar__title {
	
		font-size: clamp(14px, 0.78vw , 16px);
		margin: 0 0 43px;
		
	}


	.newposts {
		margin-top: 42px;
	}

	.newposts-list {
		gap: 16px;
	}


	/*----------------SUBSCRIBE----------------*/

	.subscribe__title {	
		font-size: clamp(14px, 0.78vw , 16px);
		margin: 0 0 15px;
	}


	/*----------------TAGS----------------*/
	

	.tags__title {
		font-size: clamp(14px, 0.78vw , 16px);
		margin: 0;
	}


	/*----------------CATEGORIES----------------*/
	.categories__title {
		font-size: clamp(14px, 0.78vw , 16px);
		margin: 0 0 38px;
	}




	.categories-list {
		gap: 17px;
	}

	

	/*----------------SHOP----------------*/
	.shop {
		margin-top: 59px;
	}

	.shop-title {
		font-size: clamp(20px, 1.15vw, 23px);
		margin: 0 0 41px;
	}

	.shop-container {
		column-gap: 68px;
	}

	.shop-item {
		width: var(--shop-item-width-desktop);
	}
	

	.shop-picture__image {
		width: var(--shop-image-width);
	}

	.shop-item__text {
		top: -36px;
	}

	.shop-item__text_1 {
		padding: 8px 15px 63px 19px
	}
	.shop-item__text_2 {
		padding: 7px 13px 31px 19px;
	}

	.shop-item__text_3 {
		padding: 16px 15px 46px 18px;
	}

	.shop-item__title {
		font-size: clamp(20px, 1.15vw, 23px);
	}



	/*------------FOOTER------------*/
	/*----------------MEDIA----------------*/
	.media-list {
		
		margin: 30px 10px 65px;
		
	}



}

.open{
	transition: 0.3s ease-in;
	visibility: visible;
	opacity: 1;
}
